/*
  Globals
*/

html,
body {
  background-color: #1e1e1e;
  color: #bbb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*
  Page layout
*/

#container {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root {
  display: flex;
  align-items: stretch;
}

/*
  Game grid
*/

.grid {
  border: 1px solid black;
}

.grid-row {
  display: flex;
}

.grid-block {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

/*
  Block colors
*/

.color1 {
  background-color: #fffc43;
}

.color2 {
  background-color: #00e0fc;
}

.color3 {
  background-color: #ff0d15;
}

.color4 {
  background-color: #51ab37;
}

.color5 {
  background-color: #ff8128;
}

.color6 {
  background-color: #ff4daf;
}

.color7 {
  background-color: #9f1687;
}

/*
  Score pane
*/

.score-pane {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-leaderboard-section {
  min-height: 200px;
}

/*
  Controls
*/

.control-bar {
  display: flex;
  margin-top: 8px;
}

.control-button {
  padding: 4px 10px;
  margin: 0 2px;
}
